.boton1:hover {
    -fx-background-color: #86B878;   
}

.boton1 {
	-fx-background-color: #FDC139;
}

.boton2:hover {
    -fx-background-color: #86B878;   
}

.boton2 {
	-fx-background-color: #883956;
}

.boton3:hover {
	-fx-background-color: #86B878;
	-fx-text-fill: white;
}

.pane1 {
	-fx-background-image: url(1.jpg);
	-fx-background-size: 100%;
}

.pane2 {
	-fx-background-image: url(2.jpg);
	-fx-background-size: 100%;
}

.pane3 {
	-fx-background-image: url(3.jpg);
	-fx-background-size: 100%;
}

.pane4 {
	-fx-background-image: url(4.jpg);
	-fx-background-size: 100%;
}
